<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="TestCases.VerifyIPOCalendar"/>
      <class name="TestCases.VerifyCompaniesTabTest"/>
      <class name="TestCases.ReportPageTest"/>
      <class name="TestCases.ReportsPageTest"/>
      <class name="TestCases.ResourceTest"/>
      <class name="TestCases.VerifyCurrentIPO"/>
      <class name="TestCases.MonthlyScoreCardTest"/>
      <class name="TestCases.CompareFundsTest"/>
      <class name="TestCases.VerifyClosedIPO"/>
      <class name="TestCases.MutualFundsTest"/>
      <class name="TestCases.TestCase_ReportPage"/>
      <class name="TestCases.MarketPageTest"/>
      <class name="TestCases.TestCases_HomePage"/>
      <class name="TestCases.VerifyPastIPO"/>
      <class name="TestCases.VerifyCompaniesSubTabPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
