<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="IPO Tab Test Suite" parallel="tests" thread-count="20"
	junit="false">

	<listeners>
<!-- 		<listener class-name="com.finalaya.common.MyReporterListener" /> -->
		<!-- <listener class-name="com.finalaya.common.CustomizedReporter" /> -->
	</listeners>

	<test name="Calendar Test">
<!-- 	<parameter name="browser" value="firefox" /> -->
		<!-- <groups> -->
		<!-- <run> -->
		<!-- <include name="Smoke" /> -->
		<!-- <exclude name="Regression" /> -->
		<!-- </run> -->
		<!-- </groups> -->
		<classes>
			<class name="TestCases.IPOPageTest" />
<!-- 			<class name="com.finalaya.test.IPO_Cal_Navigation" /> -->
		</classes>

	</test>
</suite>